$react-ant-dragger-options:(

)!default;

@import 'node_modules/webkit-sassui-vim-center/dist/webkit-sassui-vim-center.scss';
@import 'node_modules/webkit-sassui-transform-center/dist/webkit-sassui-transform-center.scss';
@import 'node_modules/webkit-sassui-frame-wrapper/dist/webkit-sassui-frame-wrapper.scss';

.react-ant-dragger{
  position: relative;
  object-fit: cover;
  background: rgba(0,0,0,0.3);

  .ant-spin-nested-loading,
  .ant-spin-container,
  &-img{
    width:100%;
    height:100%;
  }

  &[data-value=true]{
    .react-ant-dragger-upload .ant-upload{
      opacity: 0.2;
    }
  }

  &[data-value=false]{
    .react-ant-dragger-upload .ant-upload{
      opacity: 1;
    }
  }

  &-img{
    position: absolute;
    top:0;
    z-index:-1;
    object-fit: contain;
  }

  &-reupload{
    position: absolute;
    z-index: 2;
    color: #fff;
    pointer-events: none;
    background: rgba(#000, 0.5);
    border-radius: 5px;
    padding:10px 18px;
    .anticon{
      font-size: 24px;
    }
    span{
      margin-left: 5px;
      font-size: 14px;
    }
  }
}
