*{margin: 0;padding:0;box-sizing: border-box;}
ul,li{list-style: none;}

@import './components/style.scss';
@import './assets/antd.min.css';


.hello-react-ant-dragger{
  padding:50px 10px;

  .ml10{
    margin-left: 10px;
  }

  .react-ant-dragger{
  }
  button{
    border: none;
    display: block;
    width:100%;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    overflow: visible;
    height: 42px;
    border-radius: 5px;
    color: #ffffff;
    line-height: 42px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background: #04be02;
    margin-bottom: 15px;
    &:active{
      background: #3cc51f;
    }

    &:focus{
      outline: none;
    }
  }
}
